{% extends "base.html" %}

{% block title %}Jordan {% endblock title %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
		<h1 class = "my-4 text-center">Select your favourite Jordan shoes from our best collections</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<a href = "https://www.nike.com/in/launch/t/womens-air-jordan-5-x-a-ma-maniere-dawn"><img src="/static/imgjordan/1.png" class="d-block w-100" width = "50" height = "200" alt="..."></a>
            <div class="card-body">
              <p class="card-text">Women's Air Jordan 5 x A Ma Maniére Dawn
                
                <br>
Women shoes<br>
MRP : ₹ 20 295.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
      <a href = "https://www.nike.com/in/t/air-jordan-11-neapolitan-shoes-5tX9Xp/AR0715-101">      
			<img src="/static/imgjordan/2.png" class="d-block w-100" width = "50" height = "200" alt="...">
      </a>     
      <div class="card-body">	
              <p class="card-text">Air Jordan 11 'Neapolitan'<br>
                Women's Shoes<br>
                MRP : ₹ 20 295.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href = "https://www.nike.com/in/t/jordan-retro-6-g-nrg-golf-shoes-RbHqGx/FD6719-001">
			<img src="/static/imgjordan/3.png" class="d-block w-100" width = "50" height = "200" alt="...">            <div class="card-body">
      </a><p class="card-text">Jordan Retro 6 G NRG<br>
				Men's Golf Shoes<br>
				MRP : ₹ 19 695.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a href = "https://www.nike.com/in/t/air-jordan-13-wheat-shoes-pvTjVke9/414571-171">
			<img src="/static/imgjordan/4.png" class="d-block w-100" width = "50" height = "200" alt="...">            <div class="card-body">
      </a>      <p class="card-text">Air Jordan 13 'Wheat'<br>
				Men's Shoes<br>
				MRP : ₹ 19 295.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href = "https://www.nike.com/in/t/air-jordan-xxxviii-fiba-pf-basketball-shoes-XnhFhP/FN7482-100">
			<img src="/static/imgjordan/5.png" class="d-block w-100" width = "50" height = "200" alt="...">            <div class="card-body">
      </a><p class="card-text">Air Jordan XXXVIII 'FIBA' PF<br>
				Basketball Shoes<br>
				MRP : ₹ 18 395.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href = "https://www.nike.com/in/t/air-jordan-1-high-g-nrg-golf-shoes-t1kNjd/FD6815-001">
			<img src="/static/imgjordan/6.png" class="d-block w-100" width = "50" height = "200" alt="...">            <div class="card-body">
      </a>      <p class="card-text">Air Jordan 1 High G NRG<br>
				Men's Golf Shoes<br>
				MRP : ₹ 18 395.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}