{% extends "base.html" %}

{% block title %}Sneakers {% endblock title %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
		<h1 class = "my-4 text-center">Select your favourite sneakers from our best collections</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
			<a href = "https://www.nike.com/in/t/air-max-scorpion-flyknit-shoes-DP54Sv/DJ4702-601"><img src="/static/imgsneakers/1.png" class="d-block w-100" width = "50" height = "200" alt="..."></a>
            <div class="card-body">
              <p class="card-text">Nike Air Max Scorpion Flyknit<br>
                Women's Shoes<br>
                MRP : ₹ 22 995.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
      <a href = "https://www.nike.com/in/t/alphafly-2-road-racing-shoes-DcWrKF/DN3559-001">      
			<img src="/static/imgsneakers/2.png" class="d-block w-100" width = "50" height = "200" alt="...">
      </a>     
      <div class="card-body">	
              <p class="card-text">Nike Alphafly 2<br>
                Women's Road Racing Shoes<br>
				MRP : ₹ 22 795.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href = "https://www.nike.com/in/t/vaporfly-3-road-racing-shoes-wdmHPR/DV4130-600">
			<img src="/static/imgsneakers/3.png" class="d-block w-100" width = "50" height = "200" alt="...">            <div class="card-body">
      </a><p class="card-text">Nike Vaporfly 3<br>
				Women's Road Racing Shoes<br>
				MRP : ₹ 20 695.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a href = "https://www.nike.com/in/t/air-vapormax-moc-roam-shoes-tLQxbN/DZ7273-100">
			<img src="/static/imgsneakers/4.png" class="d-block w-100" width = "50" height = "200" alt="...">            <div class="card-body">
      </a>      <p class="card-text">Nike Air VaporMax Moc Roam<br>
				Men's Shoes<br>
				MRP : ₹ 19 695.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href = "https://www.nike.com/in/t/alphafly-3-proto-road-racing-shoes-K7BClg">
			<img src="/static/runwoman.png" class="d-block w-100" width = "50" height = "200" alt="...">            <div class="card-body">
      </a><p class="card-text">Nike Alphafly 3 Proto<br>
				Women's Road Racing Shoes<br>
				MRP : ₹ 22 795.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href = "https://www.nike.com/in/t/ispa-link-axis-shoes-p2gV6M">
			<img src="/static/ispa.png" class="d-block w-100" width = "50" height = "200" alt="...">            <div class="card-body">
      </a>      <p class="card-text">Nike ISPA Link Axis<br>
				Men's Shoes<br>
				MRP : ₹ 26 795.00</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}